@model Category

@section title {
    Create Category
}




<div class="card p-3 text-bg-dark">
    <div class="card-header">
        <h2>Create Category</h2>
    </div>
    <hr />
    <form method="POST" asp-controller="Categories" asp-action="Store">
        <div class="row mb-3">
            <div class="card-body">
                <div class="mb-3">
                    <label asp-for="Name" class="form-label"></label>
                    <input type="text" class="form-control" asp-for="Name">
                    <span class="text-danger form-text" asp-validation-for="Name"> </span>
                </div>
                <div class="mb-3">
                    <label asp-for="Description" class="form-label"></label>
                    <textarea class="form-control" asp-for="Description" rows="5"></textarea>
                    <span class="text-danger form-text" asp-validation-for="Description"> </span>
                </div>
            </div>
            <div class="card-footer text-end">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </div>
    </form>
</div>
