@model List<Category>

@section title {
    Category
}

<div class="col-12">
    <div class="card p-3 text-bg-dark">
        <h2>List Category</h2>
        <hr />
        <div class="card-body">
            @if (Model != null && Model.Count() > 0)
            {
                <table class="table table-dark table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Category Name</th>
                            <th>Category Description</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody> 
                        @foreach (var category in Model)
                        {
                            <tr>
                                <td>@category.Name</td>
                                <td>@category.Description</td>
                                <td>
                                    <a class="btn btn-outline-light me-2" asp-controller="Categories" asp-action="Edit" asp-route-id="@category.CategoryId" ><i class="bi bi-pencil-square"></i></a>
                                    <a class="btn btn-md btn-outline-danger" asp-controller="Categories" asp-action="Delete" asp-route-id="@category.CategoryId" role="button"><i class="bi bi-trash"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>
