@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<html>
    <body>
        <h1>Welcome To Category Page</h1>

        <ul>
            <li>
                <a href="/categories/edit/1">Beverage</a>
            </li>
            <li>
                <a href="/categories/edit/2">Meat</a>
            </li>
        </ul>
    </body>
</html>